<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctor Who Search</title>
</head>
<body>
    <header>
        <nav>
            <a href="/search-characters">Search Characters</a>
            <a href="/search-species">Search Species</a>
            <a href="/search-locations">Search Locations</a>
        </nav>
    </header>
    <main>
        <h1>Welcome to Doctor Who Website</h1>
        <h2>Here, you will be able to search for characters, species and locations</h2>
    </main>
</body>
</html>